

<div class="container">
    <div class="row">
     <div class="col-sm-2"></div>
      <div class="col-sm-8">
         
        <div class="card">
        <nav class="navbar navbar-expand-lg bg-primary navbar-dark justify-content-center">
          <h4>Booking For Maintenance/Wash </h4>
        </nav>

        <div style="margin-bottom:2px"></div>
        <h6 style="text-align:center"><p style="color:red">Confirm Order with 15 min</p></h6> 
        <h6 style="text-align:center">00:00</h6>  
        <div style="margin-bottom:2px"></div>
       
        <!-- <div class="row">
            <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <div id="demo" class="carousel slide" data-ride="carousel">
    
      
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                      
          
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="assets/carwash1.jpg" class="center" width="250" height="150" >
                          </div>
                          <div class="carousel-item">
                            <img src="assets/carwash2.jpg" class="center" width="250" height="150">
                          </div>
                          <div class="carousel-item">
                            <img src="assets/carwash3.jpg" class="center" width="250" height="150">
                          </div>
                        </div>
              
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                        
                </div>
                <div class="col-sm-3"></div>
              </div> -->
                      
              <div style="margin-bottom:10px"></div>
                      
                 <div class="row">
                  <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                      <table class="table table-bordered table-sm">
                            <thead>
                              <tr>
                                <th>Contact Name</th>
                                <tbody>
                                  <td></td>
                                </tbody>
                              </tr>
                              <tr>
                                <th>Vehicle Details</th>
                                <td> </td>
                              </tr>
                              <tr>
                                <th>Contact Details</th>
                                <td> </td>
                              </tr>
                              <tr>
                                <th>Service Type</th>
                                <td></td>
                              </tr>
                              <tr>
                                <th>Pick-up Location</th>
                                <td></td>
                              </tr>
                              <tr>
                                <th>Pick-up Date</th>
                                <td></td>
                              </tr>
                              <tr>
                                <th>Budget</th>
                                <td></td>
                              </tr>
                              <tr>
                                <th>Service Description</th>
                                <td></td>
                              </tr>
                            </thead>
                        
                          </table>
                     </div>
                    <div class="col-sm-3"></div>
                  </div>

                     <div style="margin-bottom:30px"></div>
                      <div class="form-group justify-content-center"style="text-align:center;">
                      <button id="Corner" type="button" class="btn btn-primary" style="margin-right:50px"[routerLink]="['/dashboard']">Confirm</button>
                      <button id="Corner"[routerLink]="['/']" type="button" class="btn btn-danger">Reject</button>
                      </div>
     
   </div>
                    </div>
                     <div class="col-sm-2"></div>
                    </div>
              
                       
           </div>
       
    



