<body>
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="./assets/Images/large2.png" class="rounded-circle" width="70px" height="50px" alt="">
        </a>
        <h1 class="threeD"><b><i>CarSpa<sub style="font-size:medium">You Drive.. You Save</sub></i></b></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login & SignUp</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- <div class="row">
        <img src="./assets/Images/heading-bg.jpg" width="1470" height="380" style="margin-left: 15px;">
    </div> -->
    <router-outlet></router-outlet>
    <div class="row">
        <div class="col-md-6">
            <h2><b><u>WELCOME TO CARSPA</u></b></h2>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-3">
            <img src="./assets/Images/car-servicing-limerick.jpg" width="300" height="200">
            <img src="./assets/Images/carwash1.gif" width="300" height="200" style="margin-top: 5px;">
        </div>
        <div class="col-md-3" style="text-align: justify;">
            <h6>Since the beginning of time, transportation has always been very essential. People began to depend on public transportation every time they wanted to go somewhere. In late decades individual transportation has grown to be more common and more crucial.Almost everyone in the world would own a car for transportation in the near future. Owning a car is cool, but keeping your car in a good condition is the coolest thing you can give your car. To keep your car clean and secure, we <u>CarSpa</u> have established our business in the industry.
                    We offer multiple service centers for cars and bikes of all brands and we assure that we provide the best service solutions and with no doubt it is only <u>CarSpa</u> who can take better care of your vehicle for you.
                    We guarantee customers with a fantastic service, value for money, superb and steady results.
                </h6>
        </div>
        <div class="col-md-6"> </div> -->
    </div>
    
</div>
</body>
