<body>
    <div class="container">
        {{SC.value|json}}
        {{SCSignup|json}}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form [formGroup]="SC" novalidate>
                    <div class="card">
                        <h1 style="text-align: center;"><b>Sign-Up</b></h1>
                        <h5 style="text-align: center; margin-bottom: 25px;"><b>(Service Center)</b></h5>

                        <div class="form-group">
                            <input type="text" placeholder="Firm Name" class="form-control" formControlName="FirmName">
                            <div id="validation" *ngIf="SC.controls['FirmName'].hasError('required') &&
                        (SC.controls['FirmName'].touched ||SC.controls['FirmName'].dirty)">
                                FirmName is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Owner Name" class="form-control"
                                formControlName="OwnerName">
                            <div id="validation" *ngIf="SC.controls['OwnerName'].hasError('required') &&
                        (SC.controls['OwnerName'].touched ||SC.controls['OwnerName'].dirty)">
                                OwnerName is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Contact" class="form-control" formControlName="Contact">
                            <div id="validation" *ngIf="SC.controls['Contact'].hasError('required') &&
                    (SC.controls['Contact'].touched ||SC.controls['Contact'].dirty)">
                                Contact is required.
                            </div>
                        </div>
                        <div id="validation" *ngIf="SC.controls['Contact'].hasError('pattern')">
                            Contact should be 10 digit.
                        </div>

                        <div class="form-group">
                            <input type="text"  placeholder="Email" class="form-control"
                                formControlName="Email">
                            <div id="validation" *ngIf="SC.controls['Email'].hasError('required') 
                        && (SC.controls['Email'].touched || SC.controls['Email'].dirty)">
                                Email Required
                            </div>
                            <!-- <div id ="validation" *ngIf="SC.controls['Email'].hasError('pattern')">
                        Invalid Email
                    </div> -->
                        </div>

                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control"
                                formControlName="Password">
                            <div id="validation" *ngIf="SC.controls['Password'].hasError('required') 
                        && (SC.controls['Password'].touched || SC.controls['Password'].dirty)">
                                password Required
                            </div>
                            <div id="validation" *ngIf="SC.controls['Password'].hasError('pattern')">
                                password should be between 8 to 15 char
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirm Password" class="form-control"
                                formControlName="ConfirmPassword">
                            <div class="text-danger"
                                *ngIf="ConfirmPassword.invalid &&(ConfirmPassword.dirty ||ConfirmPassword.touched)">
                                <div *ngIf="ConfirmPassword.errors['required']">Confirm Password is required </div>
                                <div *ngIf="ConfirmPassword.errors['compare']">Confirm Password do not match</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Pincode" class="form-control" formControlName="Pincode">
                            <div id="validation" *ngIf="SC.controls['Pincode'].hasError('required') 
                        && (SC.controls['Pincode'].touched || SC.controls['Pincode'].dirty)">
                                Pincode Required
                            </div>
                            <div id="validation" *ngIf="SC.controls['Pincode'].hasError('pattern')">
                                Pincode should be 6 digit.
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea rows="4" cols="50" class="form-control" placeholder="Address"
                                formControlName="Address"></textarea>
                            <div id="validation" *ngIf="SC.controls['Address'].hasError('required') 
                   && (SC.controls['Address'].touched || SC.controls['Address'].dirty)">
                                Address Required
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="nav-item nav-link-edit btn btn-info btn-block" value="submit"
                                (click)="SignupUser(SC.value)" [routerLink]="['/otp']">Generate OTP</button>
                        </div>
                    </div>
            
        
        </form>
        </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</body>